header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-family: var(--font);
    color: var(--primary);
}

header > #nav-check {
    display: none;
}

header > .logo-left {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

header > .logo-left > .logo-img {
    height: 3rem;
    margin-right: 1rem;
}

header > nav.nav-right {
    padding: var(--bw);
    display: flex;
    flex-wrap: nowrap;
}

header > nav.nav-right > a {
    color: var(--primary);
    padding: 1.2rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background .2s ease-in-out;
}

header > nav.nav-right > a:hover {
    background: var(--bg-var-color);
}

@media only screen and (max-width: 850px) {
    header > .logo-left > .logo-text {
        display: block;
    }

    header > .logo-left > .logo-text {
        display: none;
    }

}

@media only screen and (max-width: 560px) {
    header > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    header > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    header > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    header > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    header > .nav-right {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;

    }

    header > .nav-right > a {
        text-align: right;

        width: 100%;
    }

    header > #nav-check:not(:checked) ~ .nav-right {
        height: 0px;
    }

    header > #nav-check:checked ~ .nav-right {
        height: calc(100vh - 50px);
        overflow-y: auto;
        z-index: 99;
    }

    header > .logo-left > .logo-img {
        display: none;
        display: none;
    }

    header > .ccb {
        --bw: 0px
    }

    header > nav.nav-right > a {
        font-size: 2rem;
    }


}